input[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
}
.filter-type {
    margin: 5px;
}
.filter-type-long {
    flex: 1;
}
.form-control-custom {
    display: inline;
    flex: auto;
}
.form-group-custom {
    display: flex;
}
.panel-heading-custom {
    font-weight: bold;
}
.pull-right-custom {
    margin: 5px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}
.navbar-inverse {
    background-color: white;
}